In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet('../data/SO_2_0.pq.gz')
df.head()

,Year,Salary,JobSat,YearsCode,YearsCodePro,Age,Education,OrgSize,LastNewJob,Employment,RespondentType,JobSeek,Gender,Student,Country,CodingActivities,DevType,LearnCodeFrom,LangPresent,LangFuture
0,2017,NaN,<NA>,2,<NA>,NaN,secondary,NaN,NaN,notwork,stu,maybe,Man,no,United States,Hobby;Contribute to open-source projects,<NA>,Online Courses or Certification;Other online r...,Swift,Swift
1,2017,NaN,<NA>,9,<NA>,NaN,tertiary,20 to 99 employees,NaN,parttime,stu,NaN,Man,yes,United Kingdom,Hobby;Contribute to open-source projects,<NA>,Online Courses or Certification;Hackathons (vi...,JavaScript;Python;Ruby;SQL,Java;Python;Ruby;SQL
2,2017,113750.0,5,20,20,NaN,bachelor,"10,000 or more employees",NaN,fulltime,dev,NaN,Man,no,United Kingdom,Hobby;Contribute to open-source projects,<NA>,"Other online resources (e.g., videos, blogs, f...",Java;PHP;Python,C;Python;Rust
3,2017,NaN,2,14,9,NaN,doctor,"10,000 or more employees",Between 2 and 4 years ago,fulltime,non-dev,yes,Man,no,United States,Hobby;Contribute to open-source projects,Data scientist or machine learning specialist,<NA>,MATLAB;Python;R;SQL,MATLAB;Python;R;SQL
4,2017,NaN,4,20,10,NaN,master,10 to 19 employees,NaN,fulltime,dev,NaN,NaN,no,Switzerland,Hobby,"Developer, mobile;Developer, game or graphics;...",<NA>,<NA>,<NA>